@page
@model IndexModel
@{
    ViewData["Title"] = "Giftenor GIFs";
}

<div class="text-center">
    <h1 class="display-4">Giftenor GIFs</h1>
    <p>Explore exciting GIFs from Giftenor.</p>
</div>

<div style="color: #D8000C; background-color: #FFBABA">
    @Model.ErrorMessage
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Content Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gif in Model.GiftenorResults)
        {
            <tr>
                <td>@gif.Id</td>
                <td>@gif.Content_Description</td>
            </tr>
        }
    </tbody>
</table>
